* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: gray;
  font-family: "Roboto", sans-serif;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.float-left {
  float: left;
}

.w-50 {
  width: 50%;
}

/* HEADER */

header {
  background-color: rgb(21, 21, 59);
  height: 550px;
}

.header-container {
  height: 100%;
  width: 100%;
  padding: 0 10%;
  min-width: 1400px;
  background-image: url(../img/background-header.png);
  background-size: 910px 400px;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.header-nav {
  height: 80px;
  line-height: 80px;
  overflow: hidden;
}

.header-nav .header-logo {
  width: 15%;
}

.header-nav .header-nav-center {
  width: 45%;
}

.header-nav .header-nav-right {
  width: 40%;
  text-align: right;
}

.menu-inline {
  list-style: none;
}

.header-logo img {
  margin-top: 16px;
}

.menu-inline li {
  display: inline;
  padding: 0 10px;
}

.menu-inline li a {
  text-decoration: none;
  color: white;
  font-size: 10px;
  text-transform: uppercase;
}

.btn {
  display: inline-block;
  color: white;
  border-radius: 5px;
  line-height: 20px;
  padding: 5px 10px;
}

.btn.btn-blue {
  border: 1px solid white;
  padding-left: 30px;
  padding-right: 30px;
}

.btn.btn-green {
  background-color: rgb(69, 230, 69);
}

.jumbotron {
  position: relative;
  height: 470px;
}

.jumbotron-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.jumbotron-text h1 {
  color: white;
  font-size: 35px;
  margin-bottom: 20px;
}

.btn-green.btn-large {
  padding: 20px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 80%;
}

/* MAIN */

section.grey {
  height: 120px;
  position: relative;
  background-color: rgb(190, 172, 172);
}

section.grey .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

section.grey .text h3 {
  color: black;
  margin-bottom: 5px;
}

section.grey .text span {
  color: rgb(211, 211, 211);
}

.main-container,
.main-container-two {
  width: 100%;
  padding: 0 10%;
}

.col {
  height: 290px;
}

.col,
.col-middle {
  width: calc(100% / 3);
  text-align: center;
  margin-top: 20px;
  padding: 0 20px 0 20px;
}

.main-container.top-one img {
  height: 200px;
  margin-bottom: 10px;
}

.fake {
  margin: 20px auto;
  height: 1px;
  width: 130px;
  background-color: grey;
}

.col p {
  font-size: 25px;
  color: rgb(135, 224, 0);
}

p.col-text {
  font-size: 15px;
  color: gray;
}

hr {
  width: 98%;
  margin: auto;
}

.col-middle {
  height: 160px;
}

.main-container-three {
  width: 70%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.main-container-three img {
  width: 100%;
  height: 450px;
}

h2,
.text-black {
  color: black;
  font-size: 35px;
}

.link {
  font-size: 13px;
}

/* FOOTER */

.final-container {
  height: 100%;
  width: 100%;
  padding: 0 20%;
  line-height: 100px;
}

.final-right.float-left {
  text-align: right;
}

.seleziona {
  margin: 0 50px 0 5px;
  border-bottom: 1px solid black;
}

.help {
  position: fixed;
  right: 100px;
  bottom: 0px;
}

.help a {
  text-decoration: none;
  color: white;
}
